body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.eq-scores {
    display: flex;
    justify-content: space-between;
}

.eq-scores input {
    width: 22%;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5C6BC0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3F51B5;
}

#result {
    background-color: #E8EAF6;
    padding: 20px;
    border-radius: 4px;
}

.hidden {
    display: none;
}